{% extends "base.html" %}
{% block title %} 
    Home
{% endblock %} 


{% block content %} 
<div class="random-quotes" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5uT64XRaokIP5gDXhcvvfcm5xACpO386OJQ&usqp=CAU'); background-repeat: no-repeat; background-size: cover; height: 300px;">
    <div class="row" style="text-align: center; position: relative; top: 35%;"> 
        <div class="col-lg-8 col-md-10 mx-auto text-light fs-4">
            <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
            <br>
            <small class="text-muted"> posted by: {{quote.author}}</small>
        </div>
    </div>
</div>


<div class="container" style="width: 900px; margin: auto;">
    <h3 align="center">{% block header %} Posts {% endblock %}</h3>   
    <div id="posts">
        {% for post in posts %} 
        <div class="mb-5" style="background-color:#fbeec1;">
            <div class="d-flex justify-content-between align-items-center">
                <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
                <div>
                    {{ post.likes|length }}
                    {% if user.id in post.likes|map(attribute="author")|list %}
                        <a href="/like-post/{{post.id}}"><i class="fa-solid fa-thumbs-up"></i></a>
                    {% else %}
                        <a href="/like-post/{{post.id}}"><i class="fa-regular fa-thumbs-up"></i></a>
                    {% endif %}
                    {% if user.id == post.author %} 
                    <div class="delete">
                        <a href="/delete-post/{{post.id}}" style="color: red;"><i class="fa-solid fa-trash"></i></a></li>
                    </div>
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
                        </ul>
                    </div>  -->
                    {% endif %}
                </div>
            </div>
            <div class="blog-post">
                <div class="mb-3">
                    <h4 style="color: black;">{{post.title}}</h4>  
                    <p>{{post.text}}</p> 
                    <small class="text-muted">Posted by {{post.user.username}} on {{post.date_created.strftime('%d-%m-%Y')}}</small>
                    
                </div>
                <div class="collapse" id="comments-{{post.id}}">
                    <div class="comments">
                        <div class="comments-list" id="comments-expanded-{{post.id}}">
                            {% for comment in post.comments %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{ comment.text }}
                                    </div>
                                    <div>
                                        <small class="text-muted">{{ comment.date_created.strftime('%d-%m-%Y')}}</small>
                                        {% if user.id == comment.author or user.id == post.author %}
                                        <!-- <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a></li>
                                            </ul>
                                        </div> -->

                                        <div class="delete">
                                            <a href="/delete-comment/{{comment.id}}" style="color: red;"><i class="fa-solid fa-trash"></i></a></li>
                                        </div>
                                        {% endif %} 
                                    </div> 
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <p class="view-comments">
                    {% if post.comments|length > 0 %}
                    <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                        <small>View {{post.comments|length}} Comments</small>  
                    </a>
                    {% else %}
                        <small class="text-muted">No comments</small>
                    {% endif %}
                </p>
                <form class="input-group mt-3 mb-3", method="POST" action="/create-comment/{{post.id}}" style="width: 350px;">
                    <input type="text" id="text" name="text" class="form-control" placeholder="Leave a comment"> 
                    <button type="submit" class="btn" style="background-color: #daad86;">Comment</button>  
                </form>
                <!-- <div class="card-footer text-muted">
                    {{post.date_created}} 
                </div>  -->
            </div>
        </div>
        {% endfor %}
    </div>

    {% block footer %}
    <div align="center">
        <a href="/create-post"><button type="button" class="btn btn-lg btn-primary mb-5">Create New Post</button></a>
        
    </div>
    {% endblock %}
</div>
{% endblock %}  